body {
    margin: 0;
    padding: 0;
}

.colorPicker {
    color: #181818;
}

* {
    transition: 0.1s;
}

.no-amin {
    transition: 0 !important;
}

.listItem {
    transition: 0s !important;
    cursor: pointer;
    border-radius: 15px;
    color: grey;
}

.listItem:hover {
    transition: 0s !important;
    background-color: rgba(211, 211, 211, 0.466);
    color: #3477eb;
    font-weight: bold;
}

.selectedItem {
    transition: 0s !important;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(211, 211, 211, 0.466);
    color: #3477eb;
    font-weight: bold;
}


.listItem_dark {
    transition: 0s !important;
    cursor: pointer;
    border-radius: 15px;
    color: grey;
}

.listItem_dark:hover {
    transition: 0s !important;
    background-color: rgba(71, 71, 71, 0.466);
    color: #3477eb;
    font-weight: bold;
}

.selectedItem_dark {
    transition: 0s !important;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(71, 71, 71, 0.466);
    color: #3477eb;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #3477eb;
    outline: none;
}

.border-hover:hover {
    transition: 0.3s;
    margin: 10px;
    border-color: #3477eb;
}